body{
background: #F8F8F8;
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 12px;
	overflow:hidden;
}

#container{
	width:95%;  /* Dejar en 100% si quieres que el player se alargue hasta el final sin márgenes */
	max-width:600px; 
}
#header{ width:100%; overflow:hidden;}
#header .logo{text-align:center; }

#player-container{
	position:relative; height:35px;  overflow:hidden; background:url(images/barra.jpg) repeat-x 0px 0; 
	/* PARA ELIMIAR BORDE REDONDEADO, SACAR LAS SIGUIENTES LINEAS */
	border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px; 
}
#player-container #player{height:35px; margin-top:-7px; margin-left:-8px;  }
#player-container #barra{background:url(images/barra.jpg) repeat-x; position:absolute; top:0; left:160px; width:200px; height:35px;  }
#player-container .nowplaying{z-index:2; color:#fff; font-weight:bold; position:absolute; top:0; left:190px; line-height:35px; overflow:hidden; width:350px;  }
.playhistory{
	position:relative;
	margin-top:0px;
	height:140px;
	font-family:verdana;
	font-size: 12px;
	font-style: italic;
	color:#FFFFF0;
  	background-color:#2b2b2b;
	overflow:hidden;
	
	/* PARA ELIMIAR BORDE REDONDEADO, SACAR LAS SIGUIENTES LINEAS */
	border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
}
.playhistory h3{margin:0; padding:0; font-style:normal; padding-left:20px; padding-top:10px; text-decoration:underline;}
.playhistory ul, .playhistory li{list-style:none; margin:0; padding:0; }
.playhistory ul{padding:10px 0 0 20px;}

.playhistory .compartir{position:absolute; right:10px; bottom:7px; }

.banner{text-align:center; width:100%; overflow:hidden; }